<odoo>
    <menuitem id="menu_ai_root"
              name="AI"
              parent="base.menu_custom"
              sequence="4">
        <menuitem id="menu_ai_config"
                  name="Configurations"
                  action="action_ai_config"
                  sequence="0"/>
        <menuitem id="menu_ai_data_source"
                  name="Data Sources"
                  action="action_ai_data_source"
                  sequence="10"/>
        <menuitem id="menu_ai_context"
                  name="Contexts"
                  action="action_ai_context"
                  sequence="20"/>
        <menuitem id="menu_ai_assistant"
                  name="Assistants"
                  action="action_ai_assistant"
                  sequence="30"/>
        <menuitem id="menu_ai_prompt_template"
                  name="Prompt Templates"
                  action="action_ai_prompt_template"
                  sequence="40"/>
        <menuitem id="menu_ai_threads"
                  name="Threads"
                  action="action_ai_threads"
                  sequence="50"/>
    </menuitem>
</odoo>
