<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_soles_autocancel_root"
              name="Cancelación Automática"
              parent="sale.sale_menu_root"
              sequence="100"
              groups="base.group_user"/>

    <menuitem id="menu_soles_autocancel_log"
              name="Historial de Cancelaciones"
              parent="menu_soles_autocancel_root"
              action="action_soles_autocancel_log"
              sequence="10"
              groups="base.group_user"/>

    <menuitem id="menu_soles_autocancel_config"
              name="Configuración"
              parent="menu_soles_autocancel_root"
              action="action_soles_autocancel_config"
              sequence="20"
              groups="soles_sale_autocancel.group_autocancel_manual"/>
</odoo>
